.idsk-card {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}
@media (min-width: 40.0625em) {
    .idsk-card {
        margin-bottom: 30px;
    }
}
.idsk-card-content-secondary-horizontal {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    float: left;
}
@media (min-width: 40.0625em) {
    .idsk-card-content-secondary-horizontal {
        width: 67%;
        padding-left: 15px;
    }
}
@media (min-width: 40.0625em) {
    .idsk-card-content-secondary-horizontal {
        padding-left: 15px;
    }
}
.idsk-card-content-hero {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    float: none;
    padding: 0;
}
@media (min-width: 40.0625em) {
    .idsk-card-content-hero {
        width: 50%;
        float: left;
    }
}
@media (min-width: 40.0625em) {
    .idsk-card-content-hero {
        padding: 0 0 0 15px;
    }
}
.idsk-card-simple {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    padding: 0;
    float: none;
}
@media (min-width: 40.0625em) {
    .idsk-card-simple {
        width: 33.3333%;
        float: left;
    }
}
.idsk-card-content-profile-horizontal {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    float: none;
}
@media (min-width: 40.0625em) {
    .idsk-card-content-profile-horizontal {
        width: 66.6666%;
        float: left;
    }
}

.idsk-card-img-secondary-horizontal, .idsk-card-img-profile-horizontal {
    box-sizing: border-box;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
}
@media (min-width: 40.0625em) {
    .idsk-card-img-secondary-horizontal, .idsk-card-img-profile-horizontal {
        padding-bottom: 0;
        width: 33%;
    }
}
.idsk-card-img-hero {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    padding: 0;
    float: none;
}
@media (min-width: 40.0625em) {
    .idsk-card-img-hero {
        width: 50%;
        float: left;
    }
}
@media (min-width: 40.0625em) {
    .idsk-card-img-hero {
        padding-right: 15px;
    }
}

.idsk-card-meta-container {
    padding-bottom: 10px;
}
.idsk-card-meta {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    color: #626a6e;
    display: inline;
    text-decoration: none;
}
@media (min-width: 40.0625em) {
    .idsk-card-meta {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
.idsk-card-meta .govuk-link {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    color: #626a6e;
}
@media (min-width: 40.0625em) {
    .idsk-card-meta .govuk-link {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
.idsk-card-meta-date:after {
    content: "\00a0-\00a0";
}
.idsk-card-meta-tag:after {
    content: "\00a0|\00a0";
}
.idsk-card-meta-container span:last-child:after, .idsk-card-meta-container span.\:last-child:after {
    content: "";
}

.idsk-heading {
    padding-bottom: 10px;
}
@media (min-width: 40.0625em) {
    .idsk-heading {
        padding-bottom: 10px;
    }
}
.idsk-heading-secondary {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
@media (min-width: 40.0625em) {
    .idsk-heading-secondary {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
.idsk-heading-basic, .idsk-heading-hero, .idsk-heading-secondary-horizontal {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
}
@media (min-width: 40.0625em) {
    .idsk-heading-basic, .idsk-heading-hero, .idsk-heading-secondary-horizontal {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}
.idsk-heading-basic-variant, .idsk-heading-simple {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
@media (min-width: 40.0625em) {
    .idsk-heading-basic-variant, .idsk-heading-simple {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
.idsk-heading-profile-vertical, .idsk-heading-profile-horizontal {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    text-decoration: underline;
}
@media (min-width: 40.0625em) {
    .idsk-heading-profile-vertical, .idsk-heading-profile-horizontal {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.govuk-link, .app-prose-scope a {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.idsk-card-title {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}
.govuk-link:link, .app-prose-scope a:link, .govuk-link.\:link, .app-prose-scope a.\:link {
    color: #0065b3;
}
.idsk-body {
    margin-top: 0;
    margin-bottom: 0;
}
.idsk-body-secondary {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
}
@media (min-width: 40.0625em) {
    .idsk-body-secondary {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
.idsk-body-basic, .idsk-body-basic-variant, .idsk-body-hero, .idsk-body-secondary-horizontal {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
@media (min-width: 40.0625em) {
    .idsk-body-basic, .idsk-body-basic-variant, .idsk-body-hero, .idsk-body-secondary-horizontal {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
.idsk-body-profile-vertical, .idsk-body-profile-horizontal {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-top: 10px;
    padding-bottom: 15px;
}
@media (min-width: 40.0625em) {
    .idsk-body-profile-vertical, .idsk-body-profile-horizontal {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media (min-width: 40.0625em) {
    .idsk-body-profile-vertical, .idsk-body-profile-horizontal {
        padding-top: 10px;
    }
}
@media (min-width: 40.0625em) {
    .idsk-body-profile-vertical, .idsk-body-profile-horizontal {
        padding-bottom: 20px;
    }
}

.idsk-quote {
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
}
@media (min-width: 40.0625em) {
    .idsk-quote {
        padding-right: 50px;
    }
}
@media (min-width: 40.0625em) {
    .idsk-quote {
        padding-left: 50px;
    }
}
@media (min-width: 40.0625em) {
    .idsk-quote {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
.idsk-quote-right {
    float: right;
}