.govuk-heading-l {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px !important;
    font-size: 1.5rem !important;
    line-height: 1.04167 !important;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-heading-l {
        font-size: 36px !important;
        font-size: 2.25rem !important;
        line-height: 1.11111 !important;
        margin-bottom: 30px !important;
    }
}

.govuk-caption-m {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    color: #626a6e;
}

@media (min-width: 40.0625em) {
    .govuk-caption-m {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

.idsk-stepper__caption {
    padding-bottom: 15px;
}
.idsk-stepper__caption.govuk-caption-m {
    color: #0b0c0c;
}

.idsk-stepper {
    margin-left: 45px;
    position: relative;
    border-bottom: 2px solid #949494;
}

.idsk-stepper__subtitle-container {
    width: 100%;
    margin-bottom: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 40.0625em) {
    .idsk-stepper__subtitle-container {
        margin-bottom: 0;
    }
}

.govuk-grid-column-three-quarters {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-three-quarters {
        width: 75%;
        float: left;
    }
}

.idsk-stepper__subtitle-container .idsk-stepper__subtitle--heading {
    width: 75%;
    padding-top: 0;
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
    .govuk-heading-m {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.idsk-stepper__subtitle-container .govuk-heading-m {
    color: #0065b3;
    margin-left: -15px;
    margin-bottom: 20px;
}

.govuk-grid-column-one-quarter {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-quarter {
        width: 25%;
        float: left;
    }
}

.idsk-stepper__subtitle-container .idsk-stepper__controls {
    width: 25%;
    padding: 0;
    text-align: right;
    padding-bottom: 15px;
}

.idsk-stepper__open-all {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: relative;
    z-index: 1;
    margin: 0;
    padding-right: 0;
    border-width: 0;
    color: #0065b3;
    background: none;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: underline;
    text-align: right;
    height: 50px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 40.0625em) {
    .js-enabled .idsk-stepper__open-all {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

.idsk-stepper__section, .idsk-stepper__section-title {
    position: relative;
    min-height: 75px;
}

.idsk-stepper__section {
    padding-top: 0;
}

.idsk-stepper__section:before, .idsk-stepper__section-title:before {
    content: "";
    position: absolute;
    z-index: 2;
    height: 100%;
    border-left: solid 2px #949494;
    background: #ffffff;
    top: 35px;
    left: -35px;
}

@media (min-width: 40.0625em) {
    .idsk-stepper__section:before, .idsk-stepper__section-title:before {
        left: -33px;
    }
}

@media (min-width: 48.0625em) {
    .idsk-stepper__section:before, .idsk-stepper__section-title:before {
        left: -32px;
    }
}

.idsk-stepper__section--last-item:before {
    height: calc(100% - 34px);
}

.idsk-stepper:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 18px;
    left: -43px;
    border-bottom: solid 2px #949494;
}
@media (min-width: 40.0625em) {
    .idsk-stepper:after {
        left: -41px;
    }
}
@media (min-width: 48.0625em) {
    .idsk-stepper:after {
        left: -40px;
    }
}

.idsk-stepper__section-header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    padding-right: 40px;
    border-top: 2px solid #949494;
    color: #0065b3;
    cursor: pointer;
}

.idsk-stepper__circle {
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: 19px;
    left: -50px;
    width: 32px;
    height: 32px;
    color: #0b0c0c;
    background: #ffffff;
    border-radius: 100px;
    text-align: center;
}

@media (min-width: 40.0625em) {
    .idsk-stepper__circle {
        top: 24px;
    }
}

@media (min-width: 48.0625em) {
    .idsk-stepper__circle {
        left: -47px;
        top: 24px;
    }
}

.idsk-stepper__circle--number {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    border: solid 2px #949494;
    padding-top: 3px;
}

@media (min-width: 40.0625em) {
    .idsk-stepper__circle--number {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
        padding-top: 1px;
    }
}

.idsk-stepper__circle--letter {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    border: none;
    padding-top: 3px;
}
@media (min-width: 40.0625em) {
    .idsk-stepper__circle--letter {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
        padding-top: 1px;
    }
}

.idsk-stepper__section-heading {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.idsk-stepper__section-button {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    color: #0b0c0c;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
}

@media (min-width: 40.0625em) {
    .idsk-stepper__section-button {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.idsk-stepper__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.idsk-stepper__icon:after, .idsk-stepper__icon:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: auto;
    border: 2px solid transparent;
    background-color: #0b0c0c;
}
.idsk-stepper__icon:before {
    width: 100%;
}

.idsk-stepper__section-content {
    padding-top: 0;
    padding-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .js-enabled .idsk-stepper__section-content {
        padding-top: 0;
    }
}
.govuk-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0;
}
.govuk-list li {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
    color: #0065b3;
}

@media (min-width: 40.0625em) {
    .govuk-list li {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
        margin-bottom: 20px !important;
    }
}

.idsk-stepper__section-header.idsk-stepper__section-subtitle {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    color: #0065b3;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: text;
}
@media (min-width: 40.0625em) {
    .idsk-stepper__section-header.idsk-stepper__section-subtitle {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.idsk-stepper__section-header .govuk-heading-m {
    color: #0065b3;
    margin-bottom: 0;
}