.govuk-list .block-list-appender {
    float: unset;
}

.govuk-list, .app-prose-scope ul, .app-prose-scope ol {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    list-style-type: none !important;
}
@media (min-width: 40.0625em) {
    .govuk-list, .app-prose-scope ul, .app-prose-scope ol {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media (min-width: 40.0625em) {
    .govuk-list, .app-prose-scope ul, .app-prose-scope ol {
        margin-bottom: 20px !important;
    }
}
.govuk-list li {
    color: #0b0c0c;
}

.govuk-list > li, .app-prose-scope ul > li, .app-prose-scope ol > li {
    margin-bottom: 5px;
}

.govuk-list--bullet, .govuk-list--bullet > li, .app-prose-scope ul {
    padding-left: 20px !important;
    list-style-type: disc !important;
}
.govuk-list--number, .govuk-list--number > li, .app-prose-scope ol {
    padding-left: 20px !important;
    list-style-type: decimal !important;
}
.govuk-list--bullet > li, .app-prose-scope ul > li, .govuk-list--number > li, .app-prose-scope ol > li {
    margin-bottom: 0;
}
@media (min-width: 40.0625em) {
    .govuk-list--bullet > li, .app-prose-scope ul > li, .govuk-list--number > li, .app-prose-scope ol > li {
        margin-bottom: 5px !important;
    }
}

.govuk-list .govuk-list, .app-prose-scope ul .govuk-list, .app-prose-scope ol .govuk-list, .govuk-list .app-prose-scope ul, .app-prose-scope .govuk-list ul, .app-prose-scope ul ul, .app-prose-scope ol ul, .govuk-list .app-prose-scope ol, .app-prose-scope .govuk-list ol, .app-prose-scope ul ol, .app-prose-scope ol ol {
    margin-top: 10px;
}