.govuk-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list {
        margin-bottom: 30px;
    }
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list {
        margin-bottom: 0;
        border-bottom: 1px solid #bfc1c3;
    }
}

.govuk-tabs__list-item {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: 25px;
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list-item {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list-item {
        position: relative;
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: 0;
        padding: 10px 20px;
        float: left;
        background-color: #dee0e2;
        text-align: center;
    }
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list-item--selected {
        position: relative;
        margin-top: -5px;
        margin-bottom: -1px !important;
        padding-top: 14px;
        padding-right: 19px;
        padding-bottom: 16px;
        padding-left: 19px;
        border: 1px solid #bfc1c3;
        border-bottom: 0;
        background-color: #ffffff;
    }
}
@media (min-width: 40.0625em) {
    .govuk-tabs__list:after {
        content: "";
        display: block;
        clear: both;
    }
}
.govuk-tabs__panel {
    margin-bottom: 30px;
}
@media (min-width: 40.0625em) {
    .govuk-tabs__panel {
        margin-bottom: 50px;
    }
}
@media (min-width: 40.0625em) {
    .govuk-tabs__panel {
        margin-bottom: 0;
        padding: 30px 20px;
        border: 1px solid #bfc1c3;
        border-top: 0;
    }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .govuk-tabs__panel {
        margin-bottom: 0;
    }
}