.idsk-warning-text {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    color: #0b0c0c;
    margin-bottom: 20px;
    background-color: #ffdf0f;
    padding: 10px 0;
}
@media print {
    .idsk-warning-text {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .idsk-warning-text {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
@media print {
    .idsk-warning-text {
        font-size: 14pt;
        line-height: 1.2;
    }
}
@media print {
    .idsk-warning-text {
        color: #000000;
    }
}
@media (min-width: 40.0625em) {
    .idsk-warning-text {
        margin-bottom: 30px;
    }
}
.idsk-warning-text__text {
    display: block;
    font-weight: bold;
}
.idsk-warning-text__text a:focus,
.idsk-warning-text__text a:active,
.idsk-warning-text__text a.\:focus,
.idsk-warning-text__text a.\:active {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdf0f;
    box-shadow: 0 -2px #ffdf0f, 0 4px #0b0c0c;
    text-decoration: none;
}
.idsk-warning-text--info {
    background-color: #dee0e2;
}
.idsk-warning-text--info .idsk-warning-text__icon {
    display: none;
}

.idsk-crossroad-1 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .idsk-crossroad-1 {
        width: 100%;
    }
}

@media (min-width: 20em) {
    .idsk-crossroad-2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
}
@media (min-width: 20em) and (min-width: 40.0625em) {
    .idsk-crossroad-2 {
        width: 100%;
        float: left;
    }
}
@media (orientation: landscape) {
    .idsk-crossroad-2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
}
@media (orientation: landscape) and (min-width: 40.0625em) {
    .idsk-crossroad-2 {
        width: 50%;
        float: left;
    }
}
@media (min-width: 48.0625em) {
    .idsk-crossroad-2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }
}
@media (min-width: 48.0625em) and (min-width: 40.0625em) {
    .idsk-crossroad-2 {
        width: 50%;
        float: left;
    }
}

.idsk-crossroad-title {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0065b3;
    text-decoration: underline;
    cursor: pointer;
}
@media print {
    .idsk-crossroad-title {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .idsk-crossroad-title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media print {
    .idsk-crossroad-title {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.idsk-crossroad-title:hover,
.idsk-crossroad-title.\:hover {
    color: #003078;
}
.idsk-crossroad-title:focus,
.idsk-crossroad-title.\:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdf0f;
    box-shadow: 0 -2px #ffdf0f, 0 4px #0b0c0c;
    text-decoration: none;
}
.idsk-crossroad-title:visited,
.idsk-crossroad-title.\:visited {
    color: #4c2c92;
}

.idsk-crossroad-subtitle {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
    color: #626a6e;
}
@media print {
    .idsk-crossroad-subtitle {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .idsk-crossroad-subtitle {
        font-size: 16px !important;
        font-size: 1rem !important;
        line-height: 1.25 !important;
    }
}
@media print {
    .idsk-crossroad-subtitle {
        font-size: 14pt;
        line-height: 1.2;
    }
}
@media (min-width: 40.0625em) {
    .idsk-crossroad-subtitle {
        padding-top: 10px;
    }
}
@media (min-width: 40.0625em) {
    .idsk-crossroad-subtitle {
        padding-bottom: 20px;
    }
}

.idsk-crossroad-line {
    color: #bfc1c3;
    border-color: #bfc1c3;
    background-color: #bfc1c3;
    height: 1px;
    border: 0;
    border-top: 1px;
    margin-bottom: 10px;
}

.idsk-crossroad__uncollapse-div {
    text-align: center;
}
.idsk-crossroad__colapse--button {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    background: none;
    border: none;
    width: -webkit-fill-available;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #0065b3;
    width: auto;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}
@media print {
    .idsk-crossroad__colapse--button {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .idsk-crossroad__colapse--button {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media print {
    .idsk-crossroad__colapse--button {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.idsk-crossroad__colapse--button::before,
.idsk-crossroad__colapse--button::after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    color: #0065b3;
    content: "";
    display: inline-block;
    height: 0.45em;
    right: 25px;
    top: 15px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: top;
    width: 0.45em;
}
@media (min-width: 40.0625em) {
    .idsk-crossroad__colapse--button::before,
    .idsk-crossroad__colapse--button::after {
        right: 50px;
        top: 20px;
    }
}
.idsk-crossroad__colapse--button::after {
    margin: 5px 0 0 20px;
}
.idsk-crossroad__colapse--button::before {
    margin: 5px 22px 0 0;
}
.idsk-crossroad__colapse--button:focus,
.idsk-crossroad__colapse--button:active,
.idsk-crossroad__colapse--button.\:focus,
.idsk-crossroad__colapse--button.\:active {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdf0f;
    box-shadow: 0 -2px #ffdf0f, 0 4px #0b0c0c;
    text-decoration: none;
    width: auto;
    padding: 0 12px;
}

.idsk-crossroad__colapse--button-show:focus,
.idsk-crossroad__colapse--button-show:active,
.idsk-crossroad__colapse--button-show.\:focus,
.idsk-crossroad__colapse--button-show.\:active {
    padding: 0;
}

.govuk-grid-column-two-thirds {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}
@media (min-width: 40.0625em) {
    .govuk-grid-column-two-thirds {
        width: 66.6666%;
        float: left;
    }
}
.govuk-grid-column-one-third {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}
@media (min-width: 40.0625em) {
    .govuk-grid-column-one-third {
        width: 33.3333%;
        float: left;
    }
}

.idsk-related-content__line {
    background-color: #003078;
    height: 2px;
    border: 0;
    margin-bottom: 10px;
}

.idsk-related-content__heading {
    margin-bottom: 10px;
}

.idsk-related-content__list > li {
    margin-bottom: 10px;
}

.wp-block-idsk-related-content a {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0065b3;
}
@media print {
    .wp-block-idsk-related-content a {
        font-family: sans-serif;
    }
}
.wp-block-idsk-related-content a:focus,
.wp-block-idsk-related-content a.\:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdf0f;
    box-shadow: 0 -2px #ffdf0f, 0 4px #0b0c0c;
    text-decoration: none;
}
.wp-block-idsk-related-content a:link,
.wp-block-idsk-related-content a.\:link {
    color: #0065b3;
}
.wp-block-idsk-related-content a:visited,
.wp-block-idsk-related-content a.\:visited {
    color: #4c2c92;
}
.wp-block-idsk-related-content a:hover,
.wp-block-idsk-related-content a.\:hover {
    color: #003078;
}
.wp-block-idsk-related-content a:active,
.wp-block-idsk-related-content a.\:active {
    color: #0b0c0c;
}
.wp-block-idsk-related-content a:focus,
.wp-block-idsk-related-content a.\:focus {
    color: #0b0c0c;
}

.idsk-address {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

@media (min-width: 40.0625em) {
    .idsk-address {
        width: 33.3333%;
    }
    .idsk-address--full-width {
        width: 100%;
    }
}

.idsk-address__separator-top {
    background-color: #003078;
    border: none;
    height: 2px;
}

.idsk-address__content {
    position: relative;
    display: inline-block;
    width: 100%;
}

.idsk-address__map {
    border: 1px solid #000000;
    height: 150px;
    width: 100%;
}

.idsk-address--full-width .idsk-address__map {
    height: 202px;
}

@media (min-width: 48.0625em) and (min-width: 40.0625em) {
    .idsk-address--full-width .idsk-address__description,
    .idsk-address--full-width .idsk-address__map {
        width: 50%;
        float: left;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
.govuk-heading-s, .govuk-body p {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
.govuk-body p {
    font-weight: 400;
}

@media (min-width: 40.0625em) {
    .govuk-heading-m {
        font-size: 24px !important;
        font-size: 1.5rem !important;
        line-height: 1.25 !important;
        margin-bottom: 20px !important;
    }
    .govuk-heading-s, .govuk-body p {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

.govuk-body p a {
    margin-left: 15px;
}
.govuk-body p a:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 6.5px 0 6.5px 11.258px;
    border-left-color: inherit;
    content: "";
    display: inline-block;
    margin-left: -15px;
    margin-top: 4px;
    position: absolute;
}

@media (min-width: 40.0625em) {
    .govuk-body p a:before {
        margin-top: 6px;
    }
}
.govuk-grid-row {
    display: table;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 48.0625em) {
    .govuk-grid-column-two-thirds-from-desktop {
        width: 66.6666%;
        float: left;
    }
}

.govuk-heading-l {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .idsk-intro-block .govuk-heading-l {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.govuk-caption-l {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-bottom: 5px;
    color: #626a6e;
}

.idsk-intro-block__subtitle {
    color: #0b0c0c;
    padding-bottom: 25px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media (min-width: 48.0625em) and (min-width: 40.0625em) {
    .idsk-intro-block__subtitle {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

/* search */
.idsk-intro-block__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.idsk-intro-block__input {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    height: 53px;
    border: none !important;
    background: #f3f2f1 !important;
    margin-right: -3px;
    font-style: normal;
    font-weight: normal;
    color: #626a6e !important;
    width: 100%;
}

@media (min-width: 40.0625em) {
    .idsk-intro-block__input {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579 !important;
    }
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__input {
        height: 68px;
    }
}

.govuk-button {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

.govuk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__search__button {
        width: 67px;
        height: 68px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-button {
        margin-bottom: 32px;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1;
    }
}

/* search list */
.idsk-intro-block__list__ul {
    margin-top: 0;
    margin-bottom: 15px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    display: table;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
}

.idsk-intro-block__bottom-menu__li {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: inline-grid;
    padding-bottom: 0;
    padding-right: 20px;
    color: #0b0c0c;
}

@media (min-width: 48.0625em) and (min-width: 40.0625em) {
    .idsk-intro-block__bottom-menu__li {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

.idsk-intro-block__list__li {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

@media (min-width: 40.0625em) {
    .idsk-intro-block__list__li {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__list__li {
        margin-right: 15px;
    }
}

.idsk-intro-block__list__li .govuk-link:active, .idsk-intro-block__list__li .govuk-link:link, .idsk-intro-block__list__li .govuk-link.\:active, .idsk-intro-block__list__li .govuk-link.\:link {
    color: #626a6e;
}

/* side panel */
@media (min-width: 48.0625em) {
    #idsk-intro-block__side-menu__default {
        float: right;
        width: 26%;
    }
}

#idsk-intro-block__side-menu__default .govuk-heading-l, .idsk-intro-block__side-menu .govuk-heading-l {
    text-transform: uppercase;
}
#idsk-intro-block__side-menu__default .govuk-heading-l {
    float: unset;
}
@media (min-width: 48.0625em) {
    #idsk-intro-block__side-menu__default .govuk-heading-l {
        text-align: right;
        margin: 0 0 -30px 0px !important;
    }
}

.idsk-intro-block__side-menu__default__subtitle {
    padding-top: 25px;
}

.idsk-intro-block__side-menu__default__ul {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #0065b3;
    padding-top: 25px;
    margin: -20px 0;
}

@media (min-width: 40.0625em) {
    .idsk-intro-block__side-menu__default__ul {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

.idsk-intro-block__side-menu__default__ul li {
    display: table;
    float: unset;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
}
@media (min-width: 48.0625em) {
    .idsk-intro-block__side-menu__default__ul li {
        float: right;
        padding-bottom: 0;
    }
}

@media (min-width: 48.0625em) {
    #idsk-intro-block__side-menu__default .govuk-heading-l {
        text-align: right;
        margin: 0 0 -30px 0px;
    }
}

.govuk-link:link, .app-prose-scope a:link, .govuk-link.\:link, .app-prose-scope a.\:link {
    color: #0065b3;
}
.govuk-link:hover, .app-prose-scope a:hover, .govuk-link.\:hover, .app-prose-scope a.\:hover {
    color: #003078;
}
.govuk-link:active, .app-prose-scope a:active, .govuk-link.\:active, .app-prose-scope a.\:active {
    color: #0b0c0c;
}


@media (min-width: 40.0625em) {
    .idsk-intro-block__side-menu {
        margin: 0 15px;
    }
}

.app-pane-grey {
    background-color: #dee0e2;
}
.app-pane-blue {
    background-color: #0065b3;
}

#idsk-intro-block__side-menu__title {
    padding-bottom: 15px;
}

@media (min-width: 48.0625em) {
    #idsk-intro-block__side-menu__title {
        margin-top: 5px;
        width: 26%;
        float: right;
    }
}

#idsk-intro-block__side-menu__title .govuk-heading-l {
    padding-top: 15px !important;
    margin-bottom: 10px !important;
}

@media (min-width: 40.0625em) {
    #idsk-intro-block__side-menu__title .govuk-heading-l {
        padding-top: 0 !important;
        margin-top: 10px !important;
    }
}

.idsk-intro-block__side-menu__ul li {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.app-pane-grey .govuk-heading-l, .app-pane-grey .idsk-intro-block__side-menu__ul a, .app-pane-grey .idsk-intro-block__side-menu__ul li {
    color: #0b0c0c;
    font-weight: bold;
}
.app-pane-grey .idsk-intro-block__side-menu__ul li:before {
    content: "\2022";
    color: #0b0c0c;
    display: inline-block;
    margin-left: 0;
    font-size: 40px;
    margin-right: 10px;
    line-height: 20px;
    margin-top: -4px;
}

.app-pane-blue .govuk-heading-l, .app-pane-blue .idsk-intro-block__side-menu__ul a, .app-pane-blue .idsk-intro-block__side-menu__ul li {
    color: #ffffff;
    font-weight: bold;
}
.app-pane-blue .idsk-intro-block__side-menu__ul li:before {
    content: "\2022";
    color: #ffffff;
    display: inline-block;
    margin-left: 0;
    font-size: 40px;
    margin-right: 10px;
    line-height: 20px;
    margin-top: -4px;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__side-menu__ul {
        padding-bottom: 0;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
}
.wp-admin-book-details-author {
  font-style: italic;
}
.wp-admin-book-details-summary {
  margin-top: 24px;
}
.wp-admin-book-details-quote {
  margin-top: 24px;
  padding-top: 18px;
  border-top: 1px solid #eee;
}
.wp-admin-book-details-quote-content p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}
.wp-admin-book-details-quote-page-ref p {
  margin: 10px 0 0 0;
  font-size: 15px;
}

.production-only { display: block; }

/**
 * Import custom blocks CSS
 *
 * @link https://slovenskoit.sk
 *
 * @package WordPress
 * @subpackage ID-SK
 * @since ID-SK 1.0
 */
