.idsk-timeline * {
    box-sizing: unset;
}

.idsk-timeline__button--back, .idsk-timeline__button--forward {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: relative;
    z-index: 1;
    border-width: 0;
    color: #0065b3;
    background: none;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: underline;
    text-align: right;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.idsk-timeline__button--back {
    padding-left: 0;
    margin-bottom: 10px;
}

.idsk-timeline__button__svg--previous {
    padding-right: 10px;
}

@media (min-width: 40.0625em) {
    .idsk-timeline__button--back, .idsk-timeline__button--forward {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
.idsk-timeline__button--forward {
    margin-top: 30px;
    padding-right: 0;
    float: right;
    margin-bottom: 15px;
}
.idsk-timeline__button__svg--next {
    padding-left: 10px;
}

.idsk-timeline__content {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    height: 75px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

@media (min-width: 40.0625em) {
    .idsk-timeline__content {
        margin-top: 0;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media (min-width: 48.0625em) {
    .idsk-timeline__content {
        height: 70px;
    }
}

.idsk-timeline__content.idsk-timeline__content__caption--long {
    height: 100px;
}

@media (min-width: 48.0625em) {
    .idsk-timeline__content.idsk-timeline__content__caption--long {
        height: 70px;
    }
}

.idsk-timeline__content.govuk-body {
    margin-bottom: -50px;
    margin-top: 20px;
    border-top: 1px solid #bfc1c3;
}
.idsk-timeline__content.govuk-body .idsk-timeline__vertical-line {
    top: -2px;
}

.idsk-timeline__content__title-div {
    margin-bottom: -20px;
}

@media (min-width: 25.3125em) {
    .idsk-timeline__content__title-div {
        margin-bottom: -50px;
    }
}

@media (min-width: 40.0625em) {
    .idsk-timeline__content__title-div {
        margin-bottom: -25px;
    }
}

.idsk-timeline__left-side {
    width: 26.5%;
}
@media (min-width: 25.3125em) {
    .idsk-timeline__left-side {
        width: 23%;
    }
}
@media (orientation: landscape) {
    .idsk-timeline__left-side {
        width: 25%;
    }
}
@media (min-width: 40.0625em) {
    .idsk-timeline__left-side {
        width: 25%;
    }
}
@media (min-width: 48.0625em) {
    .idsk-timeline__left-side {
        width: 17%;
    }
}

.idsk-timeline__left-side .govuk-body-m {
    font-weight: bold;
}

.govuk-body-m {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .govuk-body-m {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media (min-width: 40.0625em) {
    .govuk-body-m {
        margin-bottom: 20px;
    }
}

.idsk-timeline__content__time {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
}
@media (min-width: 40.0625em) {
    .idsk-timeline__content__time {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

.idsk-timeline__middle {
    width: 2%;
}
@media (orientation: landscape) {
    .idsk-timeline__middle {
        width: 7%;
    }
}

.idsk-timeline__vertical-line, .idsk-timeline__vertical-line--circle {
    content: "";
    position: absolute;
    z-index: 2;
    border-left: solid 2px #949494;
    background: #ffffff;
    top: 10px;
    height: calc(100% + 30px);
}
.idsk-timeline__content .idsk-timeline__vertical-line--circle:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    top: calc(50% - 32px);
    left: -10px;
    width: 16px;
    height: 16px;
    color: #0b0c0c;
    background: #ffffff;
    border-radius: 100px;
    border: solid 2px #949494;
    left: -9px;
}
@media (min-width: 40.0625em) {
    .idsk-timeline__content .idsk-timeline__vertical-line--circle:before {
        left: -11.5px;
        top: calc(50% - 35px);
        width: 22px;
        height: 22px;
    }
}
@media (min-width: 48.0625em) {
    .idsk-timeline__content .idsk-timeline__vertical-line--circle:before {
        left: -11.9px;
    }
}

.idsk-timeline__content__caption, .idsk-timeline__content__title, .idsk-timeline__content__date-line {
    position: relative;
    width: 67%;
    margin-left: 10px;
}

.idsk-timeline__content__date-line {
    margin-bottom: 15px;
}

@media (min-width: 25.3125em) {
    .idsk-timeline__content__caption, .idsk-timeline__content__title, .idsk-timeline__content__date-line {
        width: 69%;
    }
}
@media (min-width: 40.0625em) {
    .idsk-timeline__content__caption, .idsk-timeline__content__title, .idsk-timeline__content__date-line {
        width: 75%;
        margin-left: 15px;
    }
}
.govuk-link:link, .govuk-link.\:link {
    color: #0065b3;
}

.idsk-timeline__content__text {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    float: right;
    margin-top: -25px;
    margin-right: -5px;
}
@media (min-width: 40.0625em) {
    .idsk-timeline__content__text {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}
@media (orientation: landscape) {
    .idsk-timeline__content__text {
        margin-right: 0;
    }
}
@media (min-width: 40.0625em) {
    .idsk-timeline__content__title {
        margin-top: 15px;
    }
}

.idsk-timeline__content__title .govuk-heading-m {
    margin-bottom: 0 !important;
    margin-top: -40px !important;
}