.idsk-address {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

@media (min-width: 40.0625em) {
    .idsk-address {
        width: 33.3333%;
    }
    .idsk-address--full-width {
        width: 100%;
    }
}

.idsk-address__separator-top {
    background-color: #003078;
    border: none;
    height: 2px;
}
.idsk-address__separator-bottom {
    display: none;
}
.idsk-address--full-width .idsk-address__separator-bottom {
    background-color: #f3f2f1;
    border: none;
    display: block;
    height: 2px;
    margin-top: 0;
}

.idsk-address__content {
    position: relative;
    display: inline-block;
    width: 100%;
}

.idsk-address__map {
    border: 1px solid #000000;
    height: 150px;
    width: 100%;
}

.idsk-address--full-width .idsk-address__map {
    height: 202px;
}

@media (min-width: 48.0625em) and (min-width: 40.0625em) {
    .idsk-address--full-width .idsk-address__description,
    .idsk-address--full-width .idsk-address__map {
        width: 50%;
        float: left;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
.govuk-heading-s, .govuk-body p {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}
.govuk-body p {
    font-weight: 400;
}

@media (min-width: 40.0625em) {
    .govuk-heading-m {
        font-size: 24px !important;
        font-size: 1.5rem !important;
        line-height: 1.25 !important;
        margin-bottom: 20px !important;
    }
    .govuk-heading-s, .govuk-body p {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

.govuk-body p a {
    margin-left: 15px;
}
.govuk-body p a:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 6.5px 0 6.5px 11.258px;
    border-left-color: inherit;
    content: "";
    display: inline-block;
    margin-left: -15px;
    margin-top: 4px;
    position: absolute;
}

@media (min-width: 40.0625em) {
    .govuk-body p a:before {
        margin-top: 6px;
    }
}