.idsk-intro-block {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
}

@media (min-width: 40.0625em) {
    .idsk-intro-block {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

.govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px;
}

.govuk-grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.govuk-grid-column-full {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-full {
        width: 100%;
        float: left;
    }
}

.govuk-grid-column-two-thirds-from-desktop {
    box-sizing: border-box;
    padding: 0 15px;
}

@media (min-width: 48.0625em) {
    .govuk-grid-column-two-thirds-from-desktop {
        width: 66.6666%;
        float: left;
    }
}

.govuk-heading-m, .app-prose-scope h3 {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px !important;
    font-size: 1.125rem !important;
    line-height: 1.11111 !important;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-heading-m, .app-prose-scope h3 {
        font-size: 24px !important;
        font-size: 1.5rem !important;
        line-height: 1.25 !important;
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-m, .app-prose-scope h3 {
        margin-bottom: 20px !important;
    }
}

.idsk-intro-block .govuk-heading-m {
    font-size: 24px !important;
}

.govuk-body-m, .govuk-body, .app-prose-scope p {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-body-m, .govuk-body, .app-prose-scope p {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

@media (min-width: 40.0625em) {
    .govuk-body-m, .govuk-body, .app-prose-scope p {
        margin-bottom: 20px !important;
    }
}

.idsk-intro-block .govuk-body {
    margin-bottom: 20px !important;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block .govuk-body {
        margin-bottom: 50px !important;
    }
}

/* search */
.idsk-search-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.idsk-search-component label {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    cursor: text;
    color: #626a6e;
}

@media (min-width: 40.0625em) {
    .idsk-search-component label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media (min-width: 48.0625em) {
    .idsk-search-component label {
        padding-top: 8px;
    }
}

.govuk-input {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px !important;
    border: 2px solid #0b0c0c !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 40.0625em) {
    .govuk-input {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

.govuk-input--width-30 {
    max-width: 59ex !important;
}

.idsk-search-component__input {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    height: 40px;
    border: 1px solid #0b0c0c !important;
    margin-right: -3px !important;
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 40.0625em) {
    .idsk-search-component__input {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

@media (min-width: 48.0625em) {
    .idsk-search-component__input {
        height: 40px;
    }
}

.govuk-button {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

@media (min-width: 40.0625em) {
    .govuk-button {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1;
    }
}

@media (min-width: 40.0625em) {
    .govuk-button {
        margin-bottom: 32px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-button {
        width: auto;
    }
}

.idsk-search-component__button {
    width: 44px !important;
    height: 40px !important;
    background-color: #0065b3 !important;
    box-shadow: none !important;
}

.govuk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

.govuk-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

/* search list */
.idsk-intro-block__list__ul {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
    padding-left: 0 !important;
    display: table;
}

.govuk-caption-m {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    color: #626a6e;
}

@media (min-width: 40.0625em) {
    .govuk-caption-m {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

.idsk-intro-block__bottom-menu__li {
    display: block;
    color: #0b0c0c;
    padding-bottom: 10px;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__bottom-menu__li {
        display: inline-grid !important;
        padding-bottom: 0;
        padding-right: 20px;
    }
}

.idsk-intro-block__list__li {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    display: inline-block;
    margin-right: 30px !important;
    margin-bottom: 10px !important;
}

@media (min-width: 40.0625em) {
    .idsk-intro-block__list__li {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__list__li {
        margin-right: 15px !important;
    }
}

.govuk-link, .app-prose-scope a {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1em;
}

.idsk-intro-block__list__a {
    white-space: nowrap;
}

.govuk-link:link, .app-prose-scope a:link, .govuk-link.\:link, .app-prose-scope a.\:link {
    color: #0065b3;
}

.govuk-link:active, .app-prose-scope a:active, .govuk-link.\:active, .app-prose-scope a.\:active {
    color: #0b0c0c;
}

.govuk-link:hover, .app-prose-scope a:hover, .govuk-link.\:hover, .app-prose-scope a.\:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
}

.govuk-link:hover, .app-prose-scope a:hover, .govuk-link.\:hover, .app-prose-scope a.\:hover {
    color: #003078;
}

.govuk-link:focus, .app-prose-scope a:focus, .govuk-link.\:focus, .app-prose-scope a.\:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdf0f;
    box-shadow: 0 -2px #ffdf0f, 0 4px #0b0c0c;
    text-decoration: none;
}

.govuk-link:focus, .app-prose-scope a:focus, .govuk-link.\:focus, .app-prose-scope a.\:focus {
    color: #0b0c0c;
}

.idsk-intro-block__list__li .govuk-link:active, .idsk-intro-block__list__li .govuk-link:link, .idsk-intro-block__list__li .govuk-link.\:active, .idsk-intro-block__list__li .govuk-link.\:link {
    color: #626a6e;
}

/* side menu */
.govuk-grid-column-one-third-from-desktop {
    box-sizing: border-box;
    padding: 0 15px;
}

@media (min-width: 48.0625em) {
    .govuk-grid-column-one-third-from-desktop {
        width: 33.3333%;
        float: left;
    }
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__side-menu {
        margin-left: 50px;
    }
}

.idsk-intro-block .app-pane-grey {
    background-color: #dee0e2;
}

.app-pane-blue {
    background-color: #0065b3;
}

.app-pane-blue * {
    color: #ffffff !important;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block .govuk-grid-column-one-third-from-desktop {
        width: calc(33.3333% - 50px);
    }
}

.idsk-intro-block__side-menu.app-pane-grey, .idsk-intro-block__side-menu.app-pane-blue {
    padding-top: 15px;
}

.govuk-heading-s, .app-prose-scope h4 {
    color: #0b0c0c;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-heading-s, .app-prose-scope h4 {
        font-size: 19px !important;
        font-size: 1.1875rem !important;
        line-height: 1.31579 !important;
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-s, .app-prose-scope h4 {
        margin-bottom: 20px !important;
    }
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__side-menu .govuk-heading-s {
        font-weight: 400 !important;
        margin-bottom: 10px !important;
        text-transform: uppercase;
    }
}

.app-pane-grey .govuk-heading-s, .app-pane-grey .idsk-intro-block__side-menu a, .app-pane-grey .idsk-intro-block__side-menu li {
    color: #0b0c0c;
    font-weight: bold;
}

.idsk-intro-block__side-menu__ul {
    float: none;
    padding-bottom: 20px !important;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 48.0625em) {
    .idsk-intro-block__side-menu__ul {
        float: left;
        padding-bottom: 0 !important;
    }
}

.idsk-intro-block__side-menu li {
    padding-bottom: 15px;
}

.idsk-intro-block__side-menu__ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.app-pane-grey .govuk-heading-s, .app-pane-grey .idsk-intro-block__side-menu__ul a, .app-pane-grey .idsk-intro-block__side-menu__ul li {
    color: #0b0c0c;
    font-weight: bold;
}

.app-pane-grey .idsk-intro-block__side-menu__ul li:before {
    content: "\2022";
    color: #0b0c0c;
    display: inline-block;
    margin-left: 0;
    font-size: 40px;
    margin-right: 10px;
    line-height: 20px;
    margin-top: -4px;
}

.app-pane-grey .govuk-heading-s, .app-pane-grey .idsk-intro-block__side-menu__ul a, .app-pane-grey .idsk-intro-block__side-menu__ul li {
    color: #0b0c0c;
    font-weight: bold;
}

.app-pane-blue .govuk-heading-l, .app-pane-blue .idsk-intro-block__side-menu__ul a, .app-pane-blue .idsk-intro-block__side-menu__ul li {
    color: #ffffff;
    font-weight: bold;
}

.app-pane-blue .idsk-intro-block__side-menu__ul li:before {
    content: "\2022";
    color: #ffffff;
    display: inline-block;
    margin-left: 0;
    font-size: 40px;
    margin-right: 10px;
    line-height: 20px;
    margin-top: -4px;
}

.app-pane-blue .govuk-heading-l, .app-pane-blue .idsk-intro-block__side-menu__ul a, .app-pane-blue .idsk-intro-block__side-menu__ul li {
    color: #ffffff;
    font-weight: bold;
}